<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- {{! Bootstrap CSS CDN Link }} -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

  <script src="https://kit.fontawesome.com/809c035b81.js" crossorigin="anonymous"></script>

  <!-- {{! Google Fonts }} -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300&family=Ysabeau+Infant:wght@300&family=Ysabeau+Office&family=Ysabeau+SC:wght@300&display=swap"
    rel="stylesheet" />

  <!-- {{! Custom CSS Link }} -->
  <link rel="stylesheet" href="/css/style.css" />
  <title>Ultimate Tech Blog</title>
</head>

<body>
  <header class="bg-hero p-4">
    <h1 class="display-3 text-start">Ultimate Tech Blog</h1>
    <p class="lead text-start px-3">By ᚱuᚢe Eᚢcᛟdeᚱ</p>
  </header>
  <div class="nav-box py-2 d-flex justify-content-between">
    <nav class="px-3">
      <a href="/">Home</a>
      {{#if logged_in}}
      <a href="/dashboard/{{user_name}}">Dashboard</a>
      <a id="logout">Logout</a>
      {{else}}
      <a href="/dashboard">Dashboard</a>
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    {{#if logged_in}}
    <p id="greet" class="px-5 mt-1" data-user="{{user_id}}">Welcome
      {{user_name}}</p>
    {{/if}}
  </div>

  <main>
    {{{body}}}
  </main>

</body>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

</html>