{{#if logged_in}}
  {{! Main Blog Post }}
  <div class="mx-5 my-4 p-4 bg-blogpost d-flex flex-column">
    <header class="pb-2 border-bottom border-light">
      <h3>{{post.title}}</h3>
    </header>

    <div class="mt-3">
      <i class="fa-solid fa-2xl fa-circle-user" style="color: #c5056e;"></i>
      <strong>
        <span>
          ᛒy
          {{post.user.name}}
        </span>
      </strong>
    </div>

    <article>
      <p class="py-3">{{post.content}}</p>
    </article>

    <footer class="pt-3 border-top border-light d-flex justify-content-between">
      <time>
        {{format_date post.createdAt}} 
        {{format_time post.createdAt}}
      </time>
      <strong>
        <button id="btn-post" class="btn-clear custom-icon"><i
            class="fa-solid fa-2xl fa-comment"
            style="color: #ffffff;"
          ></i>Comment</button>
      </strong>
    </footer>
  </div>

  {{! Write a comment section }}
  <div id="add-comment" class="hide m-5 p-4 frost comments">
    <form class="comment-form">
      <textarea
        id="comment"
        data-user="{{user_id}}"
        placeholder="Write a comment..."
      ></textarea>
      <button class="custom-btn mt-3" type="submit">
        Submit
      </button>
    </form>
  </div>

  <strong class="m-4 p-4">
    <span>COMMENTS:</span>
    <i class="px-2 fa-solid fa-xl fa-comments" style="color: #ffffff;"></i>
  </strong>

  {{! Render all comments for post section }}
  {{#each post.comments as |comment|}}
    <div class="mx-5 my-4 p-4 bg-blogpost d-flex flex-column">
      <header class="mt-3">
        <i class="fa-solid fa-2xl fa-circle-user" style="color: rgb(116, 59, 187);"></i>
        <strong>
          <span>
            {{comment.user.name}}
          </span>
        </strong>
      </header>

      <article>
        <p class="py-3">{{comment.content}}</p>
      </article>

      <footer class="pt-3 border-top border-light">
        <time>
          {{format_date comment.createdAt}} 
          {{format_time comment.createdAt}}
        </time>
      </footer>
    </div>
  {{/each}}

  <script src="/js/addComment.js"></script>

{{else}}

  {{! PLEASE LOG IN TO VIEW CONTENT}}
{{> please-login}}

{{/if}}