{{#if logged_in}}
<div class="mx-5 my-4 bg-frost">
    <div class="title d-flex justify-content-between">
        <h4 class="mt-2 px-5">{{post.title}}</h4>
        <p class="mt-2 px-5">Posted by {{post.user.name}}</p>
    </div>
    <div class="frost">
        <div class="m-5 p-4 over-frost">
            <p>{{post.content}}</p>
        </div>
        <div class="m-5 p-4 over-frost comments">
            <form class="comment-form">
                <textarea id="comment" data-user="{{user_id}}" placeholder="Write a comment..."></textarea>
                <button class="btn btn-primary mt-3" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<div class="mx-5 my-2 d-frost">
    <div class="frost">
        <p class="title mt-2">Comments</p>
        {{#each post.comments as |comment| }}

        <div class=" mx-5 over-frost my-5">
            <div class="comment">
                <div class=" p-4">
                    <p class="lead">{{comment.content}}</p>
                    </br>
                    <p>-{{comment.user.name}}, {{comment.createdAt}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/addComment.js"></script>

{{else}}
<!-- Main Background of card. -->
<div class="mx-5 my-4 bg-frost">
    <!-- Card Header -->
    <div class="title d-flex">
        <h4 class="mt-2 px-5">Content Locked</h4>
    </div>
    <!-- Background Glass Overlay-->
    <div class="text-center frost">
        <!-- Overhead Glass Overlay -->
        <div class="m-5 p-4 over-frost">
            <h3>Must be logged in to view content</h3>
        </div>
    </div>
</div>
{{/if}}

{{!-- {{comment.content}} --}}
{{!-- {{comment.createdAt}} --}}
{{!-- {{comment.user.name}} --}}

{{!-- {{post.id}} --}}
{{!-- {{post.title}} --}}
{{!-- {{post.content}} --}}
{{!-- {{post.user.name}} --}}
{{!-- {{post.createdAt}} --}}