{{#if logged_in}}
  {{! DASHBOARD: Main Background of card. }}
  <div id="dashboard-container">
    <div class="mx-5 my-4 p-4 frost d-flex flex-column">
      <header class="pb-2 border-bottom border-light">
        <h3>
          <i class="fa-solid fa-2xl fa-circle-user" style="color: #c5056e;"></i>
          <span>{{user_name}}'s Dashboard</span>
        </h3>
      </header>

      <article id="dash-posts" class="d-flex flex-column align-items-center">
        {{#each posts as |post|}}
          <button
            data-id="{{post.id}}"
            data-title="{{post.title}}"
            data-content="{{post.content}}"
            class="select-post custom-btn frost w-75 my-3 d-flex justify-content-between"
          >
            {{post.title}}
            <span class="text-end">
              {{format_date post.createdAt}}
              {{format_time post.createdAt}}
            </span>
          </button>
        {{/each}}
      </article>

      <footer class="pt-3 border-top border-light">
        <strong>
          <button id="btn-post" class="btn-clear custom-icon"><i
              class="fa-solid fa-circle-plus fa-2xl"
              style="color: #bfbfbf;"
            ></i>Create New Post</button>
        </strong>
      </footer>
    </div>
  </div>

  {{! CREATE NEW POST }}
  <div id="post-container" class="hide">
    <div class="my-5 d-flex justify-content-center">
      <div class="frost w-75 d-flex justify-content-center">
        <div class="m-5 p-4 w-75 bg-blogpost">
          {{! FORM: Create New Post }}
          <form id="submit-post" class="py-3">
            <div class="form-group d-flex flex-column align-items-center">
              <div class="d-flex flex-column text-start w-75">
                <header class="pb-2 border-bottom border-light">
                  <h3>
                    <i
                      class="fa-brands fa-microblog fa-xl"
                      style="color: #bfbfbf;"
                    ></i>
                    <span class="px-3">Create New Post</span>
                  </h3>
                </header>

                {{! Post Title }}
                <label class="mt-2" for="post-title">Title:</label>
                <input type="text" id="post-title" />

                {{! Post Content }}
                <label class="mt-3" for="post-content">Content:</label>
                <textarea id="post-content"></textarea>

                {{! Button to Create Post }}
                <button class="custom-btn mt-3" type="submit">
                  Create
                </button>

                <footer class="mt-4 pt-3 border-top border-light">
                  <strong>
                    <button id="create-return" class="btn-clear custom-icon"><i
                        class="fa-solid fa-xl fa-circle-arrow-left"
                        style="color: #bfbfbf;"
                      ></i>Return</button>
                  </strong>
                </footer>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {{! EDIT POST: Update or Delete Post }}
  <div id="modify-container" class="hide">
    <div class="my-5 d-flex justify-content-center">
      <div class="frost w-75 d-flex justify-content-center">
        <div class="m-5 p-4 w-75 bg-blogpost">
          {{! FORM: Create New Post }}
          <form id="modify-post" class="py-3">
            <div class="form-group d-flex flex-column align-items-center">
              <div class="d-flex flex-column text-start w-75">
                <header class="pb-2 border-bottom border-light">
                  <h3>
                    <i
                      class="fa-solid fa-pen-to-square fa-xl"
                      style="color: #bfbfbf;"
                    ></i>
                    <span class="px-3">Edit Post</span>
                  </h3>
                </header>

                {{! Post Title }}
                <label class="mt-3" for="mod-title">Title:</label>
                <input type="text" id="mod-title" />

                {{! Post Content }}
                <label class="mt-3" for="mod-content">Content:</label>
                <textarea id="mod-content"></textarea>

                {{! Button to Create Post }}
                <button id="update-post" class="custom-btn mt-3">
                  Update Post
                </button>

                {{! Button to Create Post }}
                <button id="delete-post" class="custom-btn mt-3">
                  Delete
                </button>

                <footer class="mt-4 pt-3 border-top border-light">
                  <strong>
                    <button id="edit-return" class="btn-clear custom-icon"><i
                        class="fa-solid fa-xl fa-circle-arrow-left"
                        style="color: #bfbfbf;"
                      ></i>Return</button>
                  </strong>
                </footer>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/dashboard.js"></script>

{{else}}

  {{! PLEASE LOG IN TO VIEW CONTENT}}
{{> please-login}}

{{/if}}