{{#each posts as |post|}}

<div class="mx-5 my-4 bg-frost">
  <div class="title d-flex justify-content-between">
    <a href="/blogpost/{{post.id}}" >{{post.title}}</a>
    <p class="mt-2 px-5">Posted by {{post.user.name}}</p>
  </div>
  <div class="frost">
    <div class="m-5 p-4 over-frost">
      <p>{{post.content}}</p>
    </div>
  </div>
</div>

{{/each}}

{{!-- {{post.id}}
{{post.title}}
{{post.content}}
{{post.user.name}}
{{post.createdAt}} --}}